---
"viewdb": patch
"viewdb_persistence_store_indexeddb": patch
"viewdb_persistence_store_lokijs": patch
"viewdb_persistence_store_mongodb": patch
"viewdb_persistence_store_remote": patch
---

Verify trusted publishing; no functional changes.
