{
  "extends": "surikat",
  "rules": {
    "@typescript-eslint/dot-notation": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-redeclare": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/no-unused-expressions": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/restrict-plus-operands": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "block-scoped-var": "off",
    "consistent-return": "off",
    "guard-for-in": "off",
    "import/newline-after-import": "off",
    "import/no-useless-path-segments": "off",
    "import/order": "off",
    "no-console": "off",
    "no-else-return": "off",
    "no-lonely-if": "off",
    "no-multi-assign": "off",
    "no-new": "off",
    "no-redeclare": "off",
    "no-var": "off",
    "object-shorthand": "off",
    "one-var": "off",
    "prefer-arrow-callback": "off",
    "prefer-rest-params": "off",
    "prefer-spread": "off",
    "prefer-template": "off",
    "promise/always-return": "off",
    "promise/catch-or-return": "off",
    "promise/no-callback-in-promise": "off",
    "promise/no-nesting": "off",
    "spaced-comment": "off",
    "vars-on-top": "off"
  }
}
